<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="content-section implementation carousel-demo">
          <div class="row-content">
            <ng-template
              ngFor
              let-item
              [ngForOf]="items"
              let-i="index"
              class="card"
            >
              <div class="card-contain">
                <div class="card card-chart">
                  <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart">
                      <h4 class="card-title">{{ item.name }}</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{
                        item.name
                      }}.png"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
