<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a >
                        Pokemon
                    </a>
                </li>
                <li>
                    <a >
                        About Us
                    </a>
                </li>
                <li>
                    <a>
                        Blog
                    </a>
                </li>
                <li>
                    <a >
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}} pokedex for trainer
        </div>
    </div>
</footer>
