.row-content {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  text-align: center;
  text-transform: capitalize;
}
.card-contain {
  flex: 1 0 18%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-contain-child {
  flex: 1 0 18%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-content-dialog{
  padding: 30px 15px;
}
.card-profile .card-avatar img {
  padding: 10px;
}
.btn-type{
  width: 7rem;
  margin: 0 5px;
}

.normal {
  color: rgb(46, 46, 46);
  background-color: #cccccc;
  border-color: #c4c4c4;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(250, 156, 149, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.fighting {
  color: rgb(173, 173, 173);
  background-color: #864646;
  border-color: #7a4949;
  box-shadow: 0 2px 2px 0 rgba(192, 102, 95, 0.14), 0 3px 1px -2px rgba(250, 156, 149, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.flying {
  color: rgb(255, 255, 255);
  background-color: #51b9d8;
  border-color: #2d9cbe;
  box-shadow: 0 2px 2px 0 rgba(20, 46, 133, 0.14), 0 3px 1px -2px rgba(6, 84, 121, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.poison {
  color: rgb(255, 255, 255);
  background-color: #2a1066;
  border-color: #390a64;
  box-shadow: 0 2px 2px 0 rgba(136, 47, 209, 0.14), 0 3px 1px -2px rgba(77, 4, 80, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.ground {
  color: rgb(255, 255, 255);
  background-color: #522c1b;
  border-color: #44200f;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(250, 156, 149, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.rock {
  color: rgb(255, 255, 255);
  background-color: #351502;
  border-color: #241700;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(250, 156, 149, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.bug {
  color: rgb(255, 255, 255);
  background-color: #2c4b05;
  border-color: #203605;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(4, 48, 4, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.ghost {
  color: rgb(255, 255, 255);
  background-color: #650da0;
  border-color: #68099e;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(4, 48, 4, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.steel {
  color: rgb(83, 83, 83);
  background-color: #cecece;
  border-color: #dfdfdf;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(4, 48, 4, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.fire {
  color: rgb(255, 255, 255);
  background-color: #da0c0c;
  border-color: #eb3e0a;
  box-shadow: 0 2px 2px 0 rgba(241, 158, 152, 0.14), 0 3px 1px -2px rgba(4, 48, 4, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.water {
  color: rgb(255, 255, 255);
  background-color: #499eff;
  border-color: #4cd5ff;
  box-shadow: 0 2px 2px 0 rgba(11, 165, 170, 0.14), 0 3px 1px -2px rgba(14, 57, 122, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.grass {
  color: rgb(255, 255, 255);
  background-color: #00ad26;
  border-color: #00c400;
  box-shadow: 0 2px 2px 0 rgba(39, 182, 10, 0.14), 0 3px 1px -2px rgba(9, 109, 9, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.electric {
  color: rgb(255, 255, 255);
  background-color: #dfee0d;
  border-color: #d0df05;
  box-shadow: 0 2px 2px 0 rgba(171, 207, 9, 0.14), 0 3px 1px -2px rgba(163, 207, 3, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.psychic {
  color: rgb(255, 255, 255);
  background-color: #d92df0;
  border-color: #fa2acd;
  box-shadow: 0 2px 2px 0 rgba(112, 16, 116, 0.14), 0 3px 1px -2px rgba(64, 7, 66, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.ice {
  color: rgb(255, 255, 255);
  background-color: #9fd1ff;
  border-color: #61b3ff;
  box-shadow: 0 2px 2px 0 rgba(10, 38, 116, 0.14), 0 3px 1px -2px rgba(7, 35, 66, 0.315), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.dragon {
  color: rgb(255, 255, 255);
  background-color: #052b7e;
  border-color: #070a96;
  box-shadow: 0 2px 2px 0 rgba(14, 5, 92, 0.14), 0 3px 1px -2px rgba(7, 22, 87, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.dark {
  color: rgb(255, 255, 255);
  background-color: #120b18;
  border-color: #1f171d;
  box-shadow: 0 2px 2px 0 rgba(112, 16, 116, 0.14), 0 3px 1px -2px rgba(64, 7, 66, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}
.dark {
  color: rgb(255, 255, 255);
  background-color: #b423c7;
  border-color: #cc3ead;
  box-shadow: 0 2px 2px 0 rgba(112, 16, 116, 0.14), 0 3px 1px -2px rgba(64, 7, 66, 0.2), 0 1px 5rgba(247, 162, 156, 0.12) 12%
}

.p-component, .p-component ul {
  list-style-type: none;
  margin-left: -30px;
}

