<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="content-section implementation carousel-demo">
          <div class="row-content">
            <ng-template
              ngFor
              let-pokemon
              [ngForOf]="pokemons"
              let-i="index"
              class="card"
            >
              <div class="card-contain">
                <div class="card card-chart" (click)="getInforPoke(i + 1)">
                  <div class="card-header card-header-success">
                    <div class="ct-chart" id="dailySalesChart">
                      <h4 class="card-title">{{ pokemon.name }}</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <img
                      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                        i + 1
                      }}.png"
                    />
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <p-dialog
    header="Information"
    [(visible)]="displayModal"
    [modal]="true"
    [style]="{ 'text-transform': 'capitalize', width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="main-content-dialog">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="javascript:void(0)">
                  <img
                    class="img"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
                      pokemon.id
                    }}.png"
                  />
                </a>
              </div>
              <div class="card-body">
                <h4 class="card-category text-gray card-title">
                  {{ pokemon.name }}
                </h4>
                <div style="display: flex; flex-direction: row">
                  <ul>
                    <li>
                      <p class="card-description">
                        weight : {{ pokemon.weight }}
                      </p>
                    </li>
                  </ul>
                  <ul>
                    <li>
                      <p class="card-description">
                        height : {{ pokemon.height }}
                      </p>
                    </li>
                  </ul>
                </div>
                <div style="display: flex; flex-direction: row">
                  <a
                    *ngFor="let item of pokemon.types"
                    class="btn btn-round btn-type"
                    [class]="item.type.name"
                    >{{ item.type.name }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="displayModal = false"
        label="Ok"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
  </div>
</div>
