.card-signup {
  .card-header {
    .social-line {
      .btn {
        color: $white-color;
      }
    }
  }
  .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
  }
}

.signup-page {
    .page-header {
        min-height: 100vh;
        height: auto;
        display: inherit;

        .container{
            padding-top: 20vh;
        }
    }

    .card-signup {
        border-radius: $border-radius-base * 2;
        @include shadow-16dp();
        margin-bottom: 100px;
        padding: 40px 0px;

    }
    .info-horizontal {
        padding: 0px 0px 20px;
    }

    .social {
        .btn {
            margin: 5px;
        }
        h4 {
            margin-top: 20px;
        }
    }
    .footer {
        .container {
            padding: 0;
        }
        .copyright,
        a{
            color: $white-color;
            margin-right: 1rem;
        }
    }
}
